/*
  module.css
*/
/* MARGIN
=============================== */
.mT05 {
  margin-top: 5px; }

.mT10 {
  margin-top: 10px; }

.mT15 {
  margin-top: 15px; }

.mT20 {
  margin-top: 20px; }

.mT25 {
  margin-top: 25px; }

.mT30 {
  margin-top: 30px; }

.mT35 {
  margin-top: 35px; }

.mT40 {
  margin-top: 40px; }

.mT45 {
  margin-top: 45px; }

.mT50 {
  margin-top: 50px; }

.mT55 {
  margin-top: 55px; }

.mT60 {
  margin-top: 60px; }

.mB05 {
  margin-bottom: 5px; }

.mB10 {
  margin-bottom: 10px; }

.mB15 {
  margin-bottom: 15px; }

.mB20 {
  margin-bottom: 20px; }

.mB25 {
  margin-bottom: 25px; }

.mB30 {
  margin-bottom: 30px; }

.mB35 {
  margin-bottom: 35px; }

.mB40 {
  margin-bottom: 40px; }

.mB45 {
  margin-bottom: 45px; }

.mB50 {
  margin-bottom: 50px; }

.mB55 {
  margin-bottom: 55px; }

.mB60 {
  margin-bottom: 60px; }

/* PADDING
=============================== */
.pT05 {
  padding-top: 5px; }

.pT10 {
  padding-top: 10px; }

.pT15 {
  padding-top: 15px; }

.pT20 {
  padding-top: 20px; }

.pT25 {
  padding-top: 25px; }

.pT30 {
  padding-top: 30px; }

.pT35 {
  padding-top: 35px; }

.pT40 {
  padding-top: 40px; }

.pT45 {
  padding-top: 45px; }

.pT50 {
  padding-top: 50px; }

.pT55 {
  padding-top: 55px; }

.pT60 {
  padding-top: 60px; }

.pB05 {
  padding-bottom: 5px; }

.pB10 {
  padding-bottom: 10px; }

.pB15 {
  padding-bottom: 15px; }

.pB20 {
  padding-bottom: 20px; }

.pB25 {
  padding-bottom: 25px; }

.pB30 {
  padding-bottom: 30px; }

.pB35 {
  padding-bottom: 35px; }

.pB40 {
  padding-bottom: 40px; }

.pB45 {
  padding-bottom: 45px; }

.pB50 {
  padding-bottom: 50px; }

.pB55 {
  padding-bottom: 55px; }

.pB60 {
  padding-bottom: 60px; }

/* TEXT-ALIGN
=============================== */
.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

/* FONT
=============================== */
.fs10 {
  font-size: 10px; }

.fs12 {
  font-size: 12px; }

.fs13 {
  font-size: 13px; }

.fs14 {
  font-size: 14px; }

.fs16 {
  font-size: 16px; }

.fs18 {
  font-size: 18px; }

.fs20 {
  font-size: 20px; }

.fs22 {
  font-size: 22px; }

.fs24 {
  font-size: 24px; }

.fs26 {
  font-size: 26px; }

.fs28 {
  font-size: 28px; }

.fs30 {
  font-size: 30px; }

.fs32 {
  font-size: 32px; }

.fs34 {
  font-size: 34px; }

.thin {
  font-weight: 100; }

.regular {
  font-weight: 400; }

.bold {
  font-weight: 700; }

.spacing0 {
  letter-spacing: 0; }

/* INDENT
=============================== */
.indent {
  padding: 0 0 0 1em;
  text-indent: -1em; }

.indent2 {
  padding: 0 0 0 2em;
  text-indent: -2em; }

.pd1em {
  padding: 0 0 0 1em; }

/* CLEARFIX
=============================== */
.clearfix:before {
  content: " ";
  display: table; }
.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.left-block {
  float: left; }

.right-block {
  float: right; }

/* ==================================
  @ MODULE LAYOUT
=================================== */
/* TEXT SHADOW
=============================== */
.text-shadow {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4), -1px 1px 10px rgba(0, 0, 0, 0.4), 1px -1px 10px rgba(0, 0, 0, 0.4), -1px -1px 10px rgba(0, 0, 0, 0.4); }

/* BTN ICON SIZE
=============================== */
.icon-small {
  background-size: 10px 10px;
  padding-right: 30px; }

.icon-medium {
  background-size: 20px 12px;
  padding-right: 22px; }

.icon-large {
  background-size: 36px 22px;
  padding-right: 38px; }
